<main id="forum-container">
    <section id="forum-index-container" class="col-xs-12 col-sm-8 col-md-8 col-lg-8 col-sm-offset-2 col-md-offset-2 col-lg-offset-2">
        <%= will_paginate @questions %>
            <table>
                <% @questions.each do |question| %>
                    <tr>
                        <td><%= question.title %></td>
                    </tr>
                <% end %>
            </table>
        <%= will_paginate @questions %>
    </section>
</main>