
<main id="ticket-confirmation-container">
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 col-sm-offset-2 col-md-offset-2 col-lg-offset-2">
        <div>Your Ticket Number is</div>
        <div id="ticket-number">
        <%= @ticket %>
        </div>
        <div>
        Please use the ticket number to search your question later
        </div>
    </div>
</main>