@import "constant";
@import "forum-question";

#forum-container{
    height: 100%;
    width: 100%;
}



.forum-question-row{
    td, th{
        text-align: center;
    }
}


#ticket-confirmation-container{
    height: 100%;
    width: 100%;
    margin-top: 100px;
    #ticket-alert{
        height: 60%;
        @include border-radius(10px);
        text-align: center;
        background-color:rgba(246,237,116,0.5);
        font-weight: bold;
        @include font-calculator(24/16);
        >div{
            margin: 25px 0 25px 0;
        }
        #ticket-number{
            @include font-calculator(36/16);
        }
    }
}